

mat-sidenav-container {
  background:
              radial-gradient(circle at 50% 1.14%, #ffe1de 0, #ffe2d9 4.17%, #ffe3d5 8.33%, #ffe4d1 12.5%, #ffe5ce 16.67%, #ffe7cb 20.83%, #ffe8ca 25%, #ffeac8 29.17%, #fcecc8 33.33%, #f7edc8 37.5%, #f2efc9 41.67%, #ecf1cb 45.83%, #e6f2cd 50%, #e0f3d0 54.17%, #daf5d4 58.33%, #d5f6d8 62.5%, #d0f6dc 66.67%, #cbf7e1 70.83%, #c6f8e6 75%, #c3f8eb 79.17%, #c0f8f0 83.33%, #bdf8f5 87.5%, #bcf8fa 91.67%, #bcf7ff 95.83%, #bdf7ff 100%);}
              mat-card {
                margin-bottom: 20px;
              }

              .task-columns {
                display: flex;
                overflow-x: auto; /* Permite el desplazamiento horizontal */
                white-space: nowrap; /* Evita que las columnas se envuelvan */
                gap: 20px;
                padding: 0 10px;
                height: calc(100vh - 100px); /* Ajusta la altura según tus necesidades */
              }

              .task-column {
                flex: 0 0 auto; /* Asegura que las columnas no se reduzcan */
                width: 300px; /* Ajusta el ancho según tus necesidades */
                box-sizing: border-box;
              }

              li, mat-expansion-panel {
                margin-bottom: 15px;
              }

              .button-container {
                display: flex;
                justify-content: flex-end; /* Mueve el botón a la derecha */
              }

              @media (max-width: 768px) {
                .task-column {
                  max-width: 100%;
                }
              }

              /* Estilos para aumentar el espacio vertical del menú y la barra de herramientas */
              mat-toolbar {
                min-height: 64px; /* Aumenta la altura mínima de la barra de herramientas */
              }

              .main-toolbar {
                min-height: 80px; /* Aumenta la altura mínima de la barra de herramientas principal */
              }

              mat-sidenav {
                mat-toolbar {
                  min-height: 80px; /* Aumenta la altura mínima de la barra de herramientas del menú */
                }
              }
