.categorias-container {
  display: flex;
  overflow: hidden;
  margin-bottom: 1rem; /* Reducir la separación entre las tarjetas y el mat-form-field */
  -webkit-mask: linear-gradient(90deg, transparent, white 20%, white 80%, transparent);
  mask: linear-gradient(90deg, transparent, white 20%, white 80%, transparent);
  justify-content: center; /* Centrar horizontalmente */
  align-items: center; /* Centrar verticalmente */
  height: 10vh; /* Ajustar la altura para centrar mejor */
}

.scroller__inner {
  display: flex;
  gap: 2rem; /* Aumentar la separación entre las tarjetas */
  width: max-content;
}

.categoria-card {
  min-width: 150px;
  text-align: center;
  margin: 0 1rem; /* Añadir márgenes laterales para separar las tarjetas */
}

.centered-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 80vh; /* Ajustar la altura para centrar mejor */
}

.form-card {
  width: 50%; /* Ajustar el ancho del mat-card */
}

.centered-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: auto; /* Ajustar la altura para centrar mejor */
}

.field {
  width: 80%; /* Ajustar el ancho del campo */
  margin-top: 0.5px; /* Añadir margen superior para separación */
}

.large-field {
  width: 70%;
}

.button-container {
  display: flex;
  justify-content: flex-end;
  width: 70%;
  margin-top: 0px;
  margin-bottom: 15px; /* Añadir margen inferior para separación */
}
