<mat-card>
  <mat-card-header>
    <mat-card-title>Lista de Tareas</mat-card-title>
  </mat-card-header>
</mat-card>

<div cdkDropListGroup class="task-columns">
  <div *ngFor="let list of taskLists" class="task-column" cdkDropList [cdkDropListData]="list.tasks" (cdkDropListDropped)="drop($event, list.listId)" [cdkDropListConnectedTo]="connectedTo">
    <mat-card>
      <mat-card-header>
        <mat-card-title>{{ list.name }}</mat-card-title>
        <button mat-icon-button (click)="removeTaskList(list)">
          <mat-icon class="rotate">more_vert</mat-icon>
        </button>
      </mat-card-header>

      <mat-card-content>
        <mat-accordion>
          <mat-expansion-panel *ngFor="let task of list.tasks" cdkDrag>
            <mat-expansion-panel-header>
              <mat-panel-title>
                {{ task.id }}
              </mat-panel-title>
              <mat-panel-description>
                {{ task.description }}
              </mat-panel-description>
            </mat-expansion-panel-header>
            <mat-card-content>
              <p><strong>ID:</strong> {{ task.id }}</p>
              <p><strong>Lista:</strong> {{ list.name }}</p>
              <p><strong>Persona Asignada:</strong> {{ task.personaAsignada }}</p>
              <p><strong>Categoría:</strong> {{ task.categoria }}</p>
              <p><strong>Descripción:</strong> {{ task.description }}</p>
              <p><strong>Dificultad:</strong> {{ task.dificultad }}</p>
              <mat-divider></mat-divider>
              <div *ngIf="task.subtasks">
                <p><strong>Subtareas:</strong>
                <div *ngFor="let subtask of task.subtasks">
                  <mat-checkbox [(ngModel)]="subtask.completed">{{ subtask.description }}</mat-checkbox>
                </div>
              </div>
            </mat-card-content>
            <mat-card-actions>
              <button mat-stroked-button color="primary" (click)="Openpopup(task)">Detalle</button>
            </mat-card-actions>
          </mat-expansion-panel>
        </mat-accordion>
        <button mat-button color="primary" (click)="addTask(list.listId)">
          <mat-icon>add</mat-icon> Añadir tarjeta
        </button>
      </mat-card-content>
    </mat-card>
  </div>
  <div class="task-column">
    <button mat-raised-button color="primary" (click)="addTaskList()">
      <mat-icon>add</mat-icon> Añadir lista
    </button>
  </div>
</div>
