.task-columns {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  gap: 20px;
  padding: 0 10px;
}

.task-column {
  flex: 1;
  max-width: 30%;
  box-sizing: border-box;
}

li, mat-expansion-panel {
  margin-bottom: 15px;
}

.button-container {
  display: flex;
  justify-content: flex-end; /* Mueve el botón a la derecha */
}


@media (max-width: 768px) {
  .task-column {
    max-width: 100%;
  }
}
