
<div class="row justify-content-end">
  <button mat-button matTooltip="Buscar por descripción de la tarea"><mat-icon>task</mat-icon></button>
<form>
    <mat-form-field class="search-box">
      <input matInput placeholder="Descripción" (input)="sendSearchTaskDescription($event)">
    </mat-form-field>
</form>

<button mat-button matTooltip="Buscar por categoria de la tarea"><mat-icon>category</mat-icon></button>
<form>
  <mat-form-field class="search-box">
    <input matInput placeholder="Categoria" (input)="sendSearchTaskCategory($event)">
  </mat-form-field>
</form>

<button mat-button matTooltip="Buscar por persona asignada a la tarea"><mat-icon>person</mat-icon></button>
<form>
  <mat-form-field class="search-box">
    <input matInput placeholder="Persona" (input)=" sendSearchTaskPerson($event)">
  </mat-form-field>
</form>



</div>
