<mat-card>
  <mat-card-header>
    <mat-card-title>Editar y Eliminar tareas</mat-card-title>
  </mat-card-header>
</mat-card>

<form [formGroup]="taskForm">
  <div class="centered-form">

    <mat-form-field class="large-field">
      <mat-label>ID</mat-label>
      <input matInput formControlName="id" readonly>
    </mat-form-field>

    <mat-form-field class="large-field">
      <mat-label>Estado</mat-label>
      <mat-select formControlName="estado">
        <mat-option value="Pendiente">Pendiente</mat-option>
        <mat-option value="En Progreso">En progreso</mat-option>
        <mat-option value="Terminada">Terminada</mat-option>
      </mat-select>
    </mat-form-field>

    <mat-form-field class="large-field">
      <mat-label>Persona asignada</mat-label>
      <input matInput formControlName="personaAsignada">
    </mat-form-field>

    <mat-form-field class="large-field">
      <mat-label>Descripción</mat-label>
      <input matInput formControlName="description">
    </mat-form-field>

    <mat-form-field class="large-field">
      <mat-label>Dificultad</mat-label>
      <mat-select formControlName="dificultad">
        <mat-option value="Fácil">Fácil</mat-option>
        <mat-option value="Media">Media</mat-option>
        <mat-option value="Difícil">Difícil</mat-option>
      </mat-select>
    </mat-form-field>

    <mat-form-field class="large-field">
      <mat-label>Categoría</mat-label>
      <input matInput formControlName="categoria">
    </mat-form-field>

    <h3>Subtareas</h3>
    <mat-list formArrayName="subtasks" class="subtask-list">
      <mat-list-item *ngFor="let subtask of subtasks.controls; let i = index" [formGroupName]="i">
        <div class="subtask-container">
          <mat-form-field class="subtask-field">
            <mat-label>Descripción</mat-label>
            <input matInput formControlName="description">
          </mat-form-field>
          <mat-checkbox formControlName="completed">Completada</mat-checkbox>
          <button mat-icon-button color="warn" (click)="removeSubtask(i)">
            <mat-icon>delete</mat-icon>
          </button>
        </div>
      </mat-list-item>
    </mat-list>
    <button mat-stroked-button color="primary" (click)="addSubtask()">Añadir Subtarea</button>

    <div class="button-container">
      <button mat-flat-button color="primary" (click)="onUpdate()">Editar</button>
      <button mat-flat-button color="warn" (click)="onDelete()" [disabled]="!canDeleteTask()">Borrar</button>
    </div>

  </div>
</form>
