.centered-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100%;
  width: 100%;
  padding: 20px;
  overflow-y: auto; /* Permitir desplazamiento vertical */
}

.añadir{
  display: flex-end;
}

.large-field {
  width: 90%;
  margin-bottom: 15px;
}

.subtask-list {
  width: 90%;
  height: 100%;
}

.subtask-container {
  display: flex;
  align-items: center;
  width: 100%;
}

.subtask-field {
  flex-grow: 1;
  margin-right: 10px;

}

.button-container {
  display: flex;
  justify-content: space-between;
  width: 90%;
  margin-top: 20px;
}

.mat-chip-listbox {
  width: 90%; /* Ajustar el ancho del mat-chip-listbox */
  margin-bottom: 15px; /* Añadir margen inferior para separación */
}


