<mat-card>
  <mat-card-header>
    <mat-card-title>Editar y Eliminar tareas</mat-card-title>
  </mat-card-header>
</mat-card>

<form [formGroup]="taskForm">
  <div class="centered-form">

    <mat-form-field class="large-field">
      <mat-label>ID</mat-label>
      <mat-select formControlName="id" (selectionChange)="onIdSelection($event.value)">
        <mat-option *ngFor="let id of availableIds" [value]="id">{{ id }}</mat-option>
      </mat-select>
    </mat-form-field>

    <mat-form-field class="large-field">
      <mat-label>Estado</mat-label>
      <mat-select formControlName="estado">
        <mat-option value="Pendiente">Pendiente</mat-option>
        <mat-option value="En Progreso">En progreso</mat-option>
        <mat-option value="Terminada">Terminada</mat-option>
      </mat-select>
    </mat-form-field>

    <mat-form-field class="large-field">
      <mat-label>Descripción</mat-label>
      <input matInput formControlName="description">
    </mat-form-field>

    <mat-form-field class="large-field">
      <mat-label>Dificultad</mat-label>
      <mat-select formControlName="dificultad">
        <mat-option value="Fácil">Fácil</mat-option>
        <mat-option value="Media">Media</mat-option>
        <mat-option value="Difícil">Difícil</mat-option>
      </mat-select>
    </mat-form-field>

    <div class="large-field">
      <mat-label>Categorías</mat-label>
      <mat-chip-listbox *ngIf="categoria">
        <mat-chip *ngFor="let categoria of categoria.controls" (removed)="removeCategoria(categoria.value)">
          {{ categoria.value }}
          <button matChipRemove [attr.aria-label]="'remove ' + categoria.value">
            <mat-icon>cancel</mat-icon>
          </button>
        </mat-chip>
      </mat-chip-listbox>
    </div>

    <mat-form-field class="large-field">
      <mat-label>Añadir Categoría</mat-label>
      <mat-select #categoriaSelect>
        <mat-option *ngFor="let categoria of availableCategorias" [value]="categoria.nombre">
          {{ categoria.nombre }}
        </mat-option>
      </mat-select>
      <button mat-button (click)="addCategoria(categoriaSelect.value)">Añadir</button>
    </mat-form-field>

    <div class="large-field">
      <mat-label>Personas Asignadas</mat-label>
      <mat-chip-listbox *ngIf="personaAsignada">
        <mat-chip *ngFor="let persona of personaAsignada.controls" (removed)="removePersona(persona.value)">
          {{ persona.value }}
          <button matChipRemove [attr.aria-label]="'remove ' + persona.value">
            <mat-icon>cancel</mat-icon>
          </button>
        </mat-chip>
      </mat-chip-listbox>
    </div>

    <mat-form-field class="large-field">
      <mat-label>Añadir Persona</mat-label>
      <mat-select #personaSelect>
        <mat-option *ngFor="let persona of availablePersonas" [value]="persona.nombre">
          {{ persona.nombre }}
        </mat-option>
      </mat-select>
      <button mat-button (click)="addPersona(personaSelect.value)">Añadir</button>
    </mat-form-field>

    <h3>Subtareas</h3>
    <mat-list formArrayName="subtasks" class="subtask-list">
      <mat-list-item *ngFor="let subtask of subtasks.controls; let i = index" [formGroupName]="i">
        <div class="subtask-container">
          <mat-form-field class="subtask-field">
            <mat-label>Descripción</mat-label>
            <input matInput formControlName="description">
          </mat-form-field>
          <mat-checkbox formControlName="completed">Completada</mat-checkbox>
          <button mat-icon-button color="warn" (click)="removeSubtask(i)">
            <mat-icon>delete</mat-icon>
          </button>
        </div>
      </mat-list-item>
    </mat-list>
    <button mat-stroked-button color="primary" (click)="addSubtask()">Añadir Subtarea</button>

    <div class="button-container">
      <button mat-flat-button color="primary" (click)="onUpdate()">Editar</button>
      <button mat-flat-button color="warn" (click)="onDelete()" [disabled]="!canDeleteTask()">Borrar</button>
    </div>

  </div>
</form>
