<mat-card>
  <mat-card-header>
    <mat-card-title>Lista de Categorías</mat-card-title>
  </mat-card-header>
</mat-card>

<div class="categorias-container scroller" data-speed="fast">
  <div class="scroller__inner">
    <mat-card *ngFor="let categoria of categorias" class="categoria-card">
      <mat-card-content>
        {{ categoria }}
      </mat-card-content>
    </mat-card>
  </div>
</div>

<form [formGroup]="taskForm">
  <div class="centered-form">
    <mat-form-field class="large-field">
      <mat-label>Categorías</mat-label>
      <div class="scroll-list__wrp">
        <mat-select formControlName="categoria">
          <mat-option *ngFor="let categoria of categorias; let i = index" [value]="categoria">
            {{ categoria }}
          </mat-option>
        </mat-select>
      </div>
    </mat-form-field>

    <div class="button-container">
      <button mat-flat-button color="warn" (click)="removeCategoria(taskForm.get('categoria')?.value || '')">Borrar</button>
    </div>
  </div>
</form>
