<mat-card>
  <mat-card-header>
    <mat-card-title>Lista de Categorías</mat-card-title>
  </mat-card-header>
</mat-card>

<form [formGroup]="taskForm" >
  <div class="centered-form">

    <mat-form-field class="large-field">
      <mat-label>Categorías</mat-label>
      <mat-select formControlName="categoria">
        <mat-option *ngFor="let categoria of categorias" [value]="categoria">
          {{ categoria }}
        </mat-option>
      </mat-select>
    </mat-form-field>

    <mat-form-field class="large-field">
      <mat-label>Nueva Categoría</mat-label>
      <input matInput formControlName="crearCategoria">
    </mat-form-field>

    <div class="button-container">
      <button mat-flat-button color="primary" (click)="onSubmit()">Guardar</button>
      <button mat-flat-button color="warn" (click)="onSubmit()">Borrar</button>
    </div>

  </div>
</form>
