<mat-card>
  <mat-card-header>
    <mat-card-title>{{ 'CATEGORY_LIST' | translate }}</mat-card-title>
  </mat-card-header>
</mat-card>

<!-- Scroller infinito fuera del mat-card -->
<div class="categorias-container scroller" data-speed="fast">
  <div class="scroller__inner">
    <mat-card *ngFor="let categoria of categorias" class="categoria-card">
      <mat-card-content>
        {{ categoria.nombre }}
      </mat-card-content>
    </mat-card>
  </div>
</div>

<!-- Mat-card para las categorías y botones centrado en la pantalla -->
<div class="centered-container">
  <mat-card class="form-card">
    <mat-card-content>
      <h2>{{ 'CATEGORY_CREATION_EDITING' | translate }}</h2>
      <form [formGroup]="taskForm">
        <div class="centered-form">
          <mat-form-field class="field">
            <mat-label>{{ 'CATEGORIES' | translate }}</mat-label>
            <div class="scroll-list__wrp">
              <mat-select formControlName="categoria">
                <mat-option *ngFor="let categoria of categorias" [value]="categoria.id">
                  {{ categoria.nombre }}
                </mat-option>
              </mat-select>
            </div>
          </mat-form-field>
          <div class="button-container">
            <button mat-flat-button color="warn" (click)="removeCategoria(taskForm.get('categoria')?.value || '')">{{ 'DELETE' | translate }}</button>
          </div>
        </div>
      </form>

      <form [formGroup]="taskForm">
        <div class="centered-form">
          <mat-form-field class="field">
            <mat-label>{{ 'CREATE_CATEGORY' | translate }}</mat-label>
            <input matInput formControlName="crearCategoria">
          </mat-form-field>
          <div class="button-container">
            <button mat-flat-button color="primary" (click)="crearCategoria()">{{ 'CREATE' | translate }}</button>
          </div>
        </div>
      </form>
    </mat-card-content>
  </mat-card>
</div>
