.centered-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 90vh;
}

.large-field {
  width: 80%;
}

.button-container {
  display: flex;
  justify-content: space-between;
  width: 80%;
  margin-top: 20px;
}
